@media all and (max-width: 992px){
  header, .left,  footer {
    flex-basis: 100%;
  }
  header {
    order:0;
  }
  .left {
    order: 3;
  }
  .center{
    order: 1;
    flex-basis: 80%;
  }
  .right{
    order: 2;
    flex-basis: 20%;
  }
  footer {
    order: 4;
  }
}

@media all and (max-width: 758px){
  .center, .right {
    flex-basis: 100%;
  }
  .left {
    order: 2;
  }
  .center{
    order: 1;
  }
  .right{
    order: 3;
  }
}